  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*{
     margin:0;
     padding:0;
     font-family: 'open sans',sans-serif;
     box-sizing: border-box;
}

@media screen and (max-width: auto).container {
    grid-template-columns: 1fr;
}

head {
     font-family: 'Open Sans', sans-serif ;
     width: auto;
}

/* header */
header {
  text-transform: capitalize;
  text-align: center;
  color:#fff;
  font-weight: 600;
  margin:20px;
}

/*body*/
body{
     background-color: #071952;
     background-image:url(./Images/background\ image.png) ;
     color: #fff;
     box-sizing: border-box;
}
/*container*/
.container{
     display: grid;
     width: 100%;
     max-width: 1000px;
     position: relative;
     background-color:#F2F7A1;
     margin: 50px;
}

.intro h1{
     position:relative;
     flex-direction: row;
     display:flex;
     padding: 20px;
     text-transform: uppercase;
     margin-top: 50px;
     color:#071952;
     font-size: 40px;
     text-align: left;
}

.intro h2{
     color:#071952;
     font-size:medium;
     text-align: left;
     padding: 20px;
     font-size: larger;
}

.intro img {
     width: 200;
     border-radius: 100%;
     margin: 20px;
     float:left;
     padding: 20px;
}

hr {
     position: relative;
     top: 10px;
     border: 4%;
     height: 6px;
     background: #071952;
     margin-bottom: 20px;
 }

.contact {
     display:flex;
     align-items: center;
     justify-content: space-around;
     text-decoration: none;
     margin: 20px;
     gap: 10px;
     position: relative;
     color:#071952;
}

hr {
     position: relative;
     top: 10px;
     border: 4%;
     height: 6px;
     background: #071952;
     margin-bottom: 20px;
 }

/* profile section */
.container-profile {
     position: relative;
     display:flex;
     flex-direction:column;
     margin: 20px;
     padding:10px;
     color:#071952;
}

.about{
     padding: 20px;
     line-height: 40px;
}

.education{
     padding:20px;
     line-height: 40px;
}

.education ul li{
     list-style: none;
}

.education ul li i{
     font-weight:100;
}

.education p{
     font-size:15px;
}

.awards{
     padding:20px;
     line-height: 40px;
}

hr {
     position: relative;
     top: 10px;
     border: 4%;
     height: 6px;
     background: #071952;
     margin-bottom: 20px;
 }

/* skill section */
.flex-container {
     margin: 40px;
     color:#071952;
     padding: 20px;
     display: flex;
     justify-content: center;
}

.skills{
     margin: 40px;
     padding: 20px;
}

.skills h3{
     margin: 10px;
     color: #071952;
     font-size: 20px;
}

.skills .fa-html5,.fa-css3,.fa-chart-area,.fa-flask-vial{
     font-size:30px;
}

.progress-bar-container:not(:last-child){
     margin-bottom:50px;
}

.progress-bar-container h5{
     letter-spacing: 1px;
     color: #071952;
     font-size: 30px;
}

.progress-bar {
     width: 200px;
     height: 5px;
     margin-top: 5px;
     border: 1px solid #071952;
     border-radius: 5px;
 }

 .percentage {
     display: block;
     height: 100%;
     border-radius: 5px;
     background-color: #071952;
 }

.html5{
     width: 60%;
}

.css3{
     width: 50%;
}

.analysis{
     width:80%
}

.lab-techniques{
     width: 90%;
}

.language{
     margin: 40px;
     padding: 20px;
}

.language h4{
     margin: 0px 10px 10px 10px;
     color:#071952;
     padding-top:9px;
     font-size: 20px;
}

.progress-bar-container:not(:last-child){
     margin-bottom:50px;
}

.progress-bar-container h5{
     letter-spacing: 1px;
     color: #071952;
     font-size: 15px;
     padding-top:10px;
}

.progress-bar-container i{
     color:#071952;
}

.progress-bar {
     width: 200px;
     height: 5px;
     margin-top: 5px;
     border: 1px solid #071952;
     border-radius: 5px;
 }

 .percentage {
     display: block;
     height: 100%;
     border-radius: 5px;
     background-color: #071952;
 }

 .English{
     width: 96%;
 }

 .hindi{
     width: 45%;
 }

 .tamil{
     width:100%
 }

 .interest{
     color:#071952;
     padding:20px;
     margin: 40px;
 }

 .Interest .fa-signature, .fa-recycle, .fa-wand-magic-sparkles {
     font-size: 30px;
 }

 .Interest .fa-signature {
     margin: 0 auto;
 }

 .Interest .fa-recycle {
     margin: 0 auto;
 }

 .Interest .fa-wand-magic-sparkles {
     margin: 0 auto;
 }

 .interest h4{
     font-size: 20px;
     margin-top:10px;
 }

 .interest i{
     padding: 20px;
     margin:20px;
     display: flex;
     flex-direction: column;
 }

/* footer */
.contact-me-form{
     padding: 20px;
     margin-left: 20px;
     color:#Fff;
     gap: 10px;  
     max-width: 1000px;
     height: 300px;
     align-items: center;
}
.contact-me-form h7{
     font-size: 20px;
     text-transform: uppercase;
     text-align: center;
     padding: 30px;
     margin-bottom: 40px;
     color:#F2F7A1; 
     gap:10px;
}

input[type="button" i]{
     background: transparent;
     border-color:#F2F7A1;
     color:#fff;
     padding: 10px;
     margin: 10px;
}

input[type="button" i]:hover{
     cursor:pointer;
     background-color: #F2F7A1;
     color:#071952;
}

input[type="submit" i]{
     background: transparent;
     border-color:#F2F7A1;
     color:#fff;
     padding: 10px;
     margin: 10px;
}
input[type="submit" i]:hover{
     cursor:pointer;
     background-color: #F2F7A1;
     color:#071952;
}

input[type="reset" i]{
     background: transparent;
     border-color:#F2F7A1;
     color:#fff;
     padding: 10px;
     margin: 10px;
}

input[type="reset" i]:hover{
     cursor:pointer;
     background-color: #F2F7A1;
     color:#071952;
}

input[type="radio" i]{
     background: transparent;
     border-color:#F2F7A1;
     color:#F2F7A1;
     padding: 10px;
     margin: 10px;
}

input[type="radio" i]:hover{
     cursor:pointer;
     background-color: #F2F7A1;
}

textarea{
     padding: 10px;
     margin:10px;
     background: transparent;
     color:#F2F7A1;
     border-color: #F2F7A1;
}

input[type="text" i]{
     padding: 10px;
     margin: 10px;
     background: transparent;
     color:#F2F7A1;
     border-color:#F2F7A1;
}

input[type="email" i]{
     padding: 10px;
     margin:10px;
     background: transparent;
     color:#F2F7A1;
     border-color: #F2F7A1;
}

.form-inputs p{
     color:#F2F7A1;
}

form{
     color:#F2F7A1;
}